.logoMain {
    display: inline-block;
}

.descriptionMain {
    font-size: 25px;
    font-family: "Arial";
}

.nbLogo {
    width: 150px;
    height: 30px;
}

.dontSelect:focus {
    outline: 0;
}

.visiblePlaceholder::-webkit-input-placeholder {
    color: black !important;
    opacity: 0.8;
}

.visiblePlaceholder:-moz-placeholder { /* Firefox 18- */
    color: black !important;
    opacity: 0.8;
}

.visiblePlaceholder::-moz-placeholder {  /* Firefox 19+ */
    color: black !important;
    opacity: 0.8;
}

.visiblePlaceholder:-ms-input-placeholder {
    color: black !important;
    opacity: 0.8;
}

.img {
    height: 280px;
    width: 100%;
}

.rootNode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bigtext {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.underbigtext {
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

.mainPageSegment {
    min-height: 700px;
}

.verticallyAlignedInfo {
    margin-top: 150px;
}

.nodeText {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.editorBox {
    z-index: 2;
}

.navbar {
    position: relative;
    width: 100%;
    z-index: 2;
}

.userEditor {
    position: absolute;
    margin-bottom: 0;
    top: 0;
    float: right;
    z-index: 2;
}

.fix {
    cursor: pointer;
    display: block;
    float: right;  
    z-index: 1;
    position: absolute;
    right: 0; 
    top: 0;
    width: 100%;
    height: 100%;
}

.mainDescription {
    padding: 8em 0em;
  }

  @media only screen and (max-width: 1399px) {
    .mainDescription {
        padding: 3em 0em;
    }

    .mainPageSegment {
        min-height: 350px;
    }

    .verticallyAlignedInfo {
        margin-top: 20px;
    }

    .bigtext {
        font-size: 3em;
        font-weight: bold;
        text-align: center;
    }
    
    .underbigtext {
        font-size: 2em;
        font-weight: normal;
        text-align: center;
    }
  }

  @media only screen and (max-width: 450px) {
    .descriptionMain {
        font-size: 15px;
        font-family: "Arial";
    }
  }
